.container {
  display: flex;
}

.originGroups {
  flex: 1;
  /* display: flex;
  flex-wrap: wrap; */
}

.classGroups {
  flex: 1;
  /* display: flex;
  flex-wrap: wrap; */
}

.buffGroups {
  flex: 1;
}

.fixedGroup {
  position: fixed;
}

.buffGroup,
.pbuffGroup {
  margin: 0.3rem 0;
}

.pbuffGroup {
  opacity: 0.2;
}

.buffDisplay {
  display: flex;
  align-items: center;
}

.buffName {
  margin-left: 0.5rem;
}

.buffIcons {
  width: 28px;
}

.desc {
  font-size: 14px;
}