.container {
  margin: 0.75rem 0.75rem 0.75rem 0;
}

.champGroupContainer {
  display: flex;
  flex-wrap: wrap;
}

.champImage {
  width: 46px;
}

.champImage:hover {
  filter: brightness(150%);
  cursor: pointer;
}