html {
  font-family: Lato;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #10171e;
  color: white;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
